****OPTIMISATION D'UN SYSTÈME AUTOMASITÉ DE RÉCONCILIATION DE DONNÉES HÉTÉROGÈNES POUR AMÉLIORER LA PRÉCISION DES MODÈLES PRÉDICTIFS ET OPTIMISER LES PERFORMANCES DES TAUX DE MATCHING****

****1. Analyse RFM à l'aide de l'ensemble de données Online Retail****

In [50]:
import numpy as np
import pandas as pd

In [51]:
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

****1.1. Installer des paquets et définir des configurations****

In [1]:
import numpy as np
import pandas as pd
import datetime as dt

pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.5f' % x)

import warnings
warnings.filterwarnings("ignore")
warnings.simplefilter(action='ignore', category=FutureWarning)

****1.2. Lire les données****

In [3]:
df_ = pd.read_excel("online_retail_II.xlsx") 
df = df_.copy()
print(df)

       Invoice StockCode                          Description  Quantity  \
0       489434     85048  15CM CHRISTMAS GLASS BALL 20 LIGHTS        12
1       489434    79323P                   PINK CHERRY LIGHTS        12
2       489434    79323W                  WHITE CHERRY LIGHTS        12
3       489434     22041         RECORD FRAME 7" SINGLE SIZE         48
4       489434     21232       STRAWBERRY CERAMIC TRINKET BOX        24
...        ...       ...                                  ...       ...
525456  538171     22271                 FELTCRAFT DOLL ROSIE         2
525457  538171     22750         FELTCRAFT PRINCESS LOLA DOLL         1
525458  538171     22751       FELTCRAFT PRINCESS OLIVIA DOLL         1
525459  538171     20970   PINK FLORAL FELTCRAFT SHOULDER BAG         2
525460  538171     21931               JUMBO STORAGE BAG SUKI         2

               InvoiceDate   Price  Customer ID         Country
0      2009-12-01 07:45:00 6.95000  13085.00000  United Kingdom
1      2009-12-01 07:45:00 6.75000  13085.00000  United Kingdom
2      2009-12-01 07:45:00 6.75000  13085.00000  United Kingdom
3      2009-12-01 07:45:00 2.10000  13085.00000  United Kingdom
4      2009-12-01 07:45:00 1.25000  13085.00000  United Kingdom
...                    ...     ...          ...             ...
525456 2010-12-09 20:01:00 2.95000  17530.00000  United Kingdom
525457 2010-12-09 20:01:00 3.75000  17530.00000  United Kingdom
525458 2010-12-09 20:01:00 3.75000  17530.00000  United Kingdom
525459 2010-12-09 20:01:00 3.75000  17530.00000  United Kingdom
525460 2010-12-09 20:01:00 1.95000  17530.00000  United Kingdom

[525461 rows x 8 columns]

*****Il y a 525 461 lignes et 8 colonnes dans le dataframe*****

In [5]:
clients_uniques = df[['Customer ID']].drop_duplicates()
print(clients_uniques)

        Customer ID
0       13085.00000
12      13078.00000
31      15362.00000
54      18102.00000
71      12682.00000
...             ...
521212  18269.00000
522042  13270.00000
522621  12942.00000
522900  13369.00000
524732  15211.00000

[4384 rows x 1 columns]

****Il y a 4 384 clients****

In [55]:
df_ = pd.read_excel("online_retail_II.xlsx") 
df = df_.copy()
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95000,13085.00000,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75000,13085.00000,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75000,13085.00000,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10000,13085.00000,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25000,13085.00000,United Kingdom

****1.3. Comprendre les données****

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525461 entries, 0 to 525460
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      525461 non-null  object
 1   StockCode    525461 non-null  object
 2   Description  522533 non-null  object
 3   Quantity     525461 non-null  int64
 4   InvoiceDate  525461 non-null  datetime64[ns]
 5   Price        525461 non-null  float64
 6   Customer ID  417534 non-null  float64
 7   Country      525461 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 32.1+ MB

In [12]:
df['Country'].nunique()

40

In [13]:
df['Country'].value_counts()

Country
United Kingdom          485852
EIRE                      9670
Germany                   8129
France                    5772
Netherlands               2769
Spain                     1278
Switzerland               1187
Portugal                  1101
Belgium                   1054
Channel Islands            906
Sweden                     902
Italy                      731
Australia                  654
Cyprus                     554
Austria                    537
Greece                     517
United Arab Emirates       432
Denmark                    428
Norway                     369
Finland                    354
Unspecified                310
USA                        244
Japan                      224
Poland                     194
Malta                      172
Lithuania                  154
Singapore                  117
RSA                        111
Bahrain                    107
Canada                      77
Hong Kong                   76
Thailand                    76
Israel                      74
Iceland                     71
Korea                       63
Brazil                      62
West Indies                 54
Bermuda                     34
Nigeria                     32
Lebanon                     13
Name: count, dtype: int64

In [14]:
df.sort_values(by='Price', ascending=False).head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
241824,C512770,M,Manual,-1,2010-06-17 16:52:00,25111.09000,17399.00000,United Kingdom
241827,512771,M,Manual,1,2010-06-17 16:53:00,25111.09000,NaN,United Kingdom
320581,C520667,BANK CHARGES,Bank Charges,-1,2010-08-27 13:42:00,18910.69000,NaN,United Kingdom
517953,C537630,AMAZONFEE,AMAZON FEE,-1,2010-12-07 15:04:00,13541.33000,NaN,United Kingdom
519294,C537651,AMAZONFEE,AMAZON FEE,-1,2010-12-07 15:49:00,13541.33000,NaN,United Kingdom

In [15]:
df['Description'].nunique()

4681

In [16]:
df.groupby("Description").agg({"Quantity": lambda x: x.sum()}).sort_values("Quantity", ascending=False).head()

                                    Quantity
Description
WHITE HANGING HEART T-LIGHT HOLDER     57733
WORLD WAR 2 GLIDERS ASSTD DESIGNS      54698
BROCADE RING PURSE                     47647
PACK OF 72 RETRO SPOT CAKE CASES       46106
ASSORTED COLOUR BIRD ORNAMENT          44925

In [17]:
print(f"Nombre de pièces uniques dans StockCode: {df['StockCode'].nunique()}")
print(f"Nombre d'exemplaires uniques dans la description:{df['Description'].nunique()}")

Nombre de pièces uniques dans StockCode: 4632
Nombre d'exemplaires uniques dans la description:4681

In [18]:
a =df.groupby('StockCode').agg({'Description': "nunique"})
a.reset_index(inplace=True)
a.head()
b = list(a.loc[a['Description'] > 1, 'StockCode'])   

for urun_kodu in b:
    print(f"urun kodu = {urun_kodu} {df.loc[df['StockCode'] == urun_kodu, 'Description'].unique()}")

urun kodu = 10120 ['DOGGY RUBBER' 'Zebra invcing error']
urun kodu = 16011 [' ANIMAL STICKERS' 'ANIMAL STICKERS']
urun kodu = 16012 ['FOOD/DRINK SPUNGE STICKERS' 'FOOD/DRINK SPONGE STICKERS']
urun kodu = 16235 ['RECYCLED PENCIL WITH RABBIT ERASER' '?']
urun kodu = 17033 ['BROCADE PURSE,SMALL ARCH BUTTON' 'sold as 17003?' 'Sold as 17003?' nan]
urun kodu = 20615 ['BLUE SPOTTY PASSPORT COVER' 'BLUE POLKADOT PASSPORT COVER']
urun kodu = 20652 ['BLUE SPOTTY LUGGAGE TAG ' nan 'BLUE POLKADOT LUGGAGE TAG ']
urun kodu = 20658 ['RED SPOTTY LUGGAGE TAG' 'RED RETROSPOT LUGGAGE TAG']
urun kodu = 20661 ['BLUE SPOTTY PURSE ' 'BLUE POLKADOT PURSE ']
urun kodu = 20665 ['RED SPOTTY PURSE ' 'RED RETROSPOT PURSE ']
urun kodu = 20674 ['GREEN SPOTTY BOWL' 'GREEN POLKADOT BOWL']
urun kodu = 20675 ['BLUE SPOTTY BOWL' 'BLUE POLKADOT BOWL']
urun kodu = 20676 ['RED SPOTTY BOWL' 'RED RETROSPOT BOWL']
urun kodu = 20677 ['PINK SPOTTY BOWL' 'PINK POLKADOT BOWL']
urun kodu = 20679 ['EDWARDIAN PARASOL RED' nan '?']
urun kodu = 20681 ['PINK SPOTTY CHILDS UMBRELLA' 'PINK POLKADOT CHILDRENS UMBRELLA']
urun kodu = 20682 ['RED SPOTTY CHILDS UMBRELLA' 'RED RETROSPOT CHILDRENS UMBRELLA']
urun kodu = 20685 ['RED SPOTTY COIR DOORMAT' 'DOOR MAT RED SPOT' nan 'DOORMAT RED SPOT'
 'DOORMAT RED RETROSPOT']
urun kodu = 20692 ['FLORAL ELEPHANT SOFT TOY' '?' nan]
urun kodu = 20712 ['JUMBO BAG WOODLAND ANIMALS' 'missing']
urun kodu = 20713 ['JUMBO BAG OWLS' 'missing' nan]
urun kodu = 20714 ['POSY SHOPPER BAG' 'missing' nan]
urun kodu = 20718 ['RED SPOTTY SHOPPER BAG' 'RED RETROSPOT SHOPPER BAG']
urun kodu = 20724 ['RED SPOTTY CHARLOTTE BAG' 'RED RETROSPOT CHARLOTTE BAG']
urun kodu = 20725 ['LUNCH BAG RED SPOTTY' 'LUNCH BAG RED RETROSPOT']
urun kodu = 20738 ['GREEN MINI TAPE MEASURE ' 'counted']
urun kodu = 20750 [' RED/WHITE DOT MINI CASES' 'RED/WHITE DOT MINI CASES'
 'RED RETROSPOT MINI CASES']
urun kodu = 20752 ['RETRO BLUE SPOTTY WASHING UP GLOVES' 'BLUE POLKADOT WASHING UP GLOVES']
urun kodu = 20754 ['RETRO RED SPOTTY WASHING UP GLOVES' 'RETROSPOT RED WASHING UP GLOVES']
urun kodu = 20786 ['BLACK RETRO BAR STOOL' nan 'Damages']
urun kodu = 20787 ['BLUE RETRO BAR STOOL' nan 'damaged']
urun kodu = 20798 ['CLEAR MILKSHAKE GLASS' 'show']
urun kodu = 20799 ['PINK MILKSHAKE GLASS' nan 'damaged']
urun kodu = 20820 ['SILVER LOOKING MIRROR' 'damages']
urun kodu = 20821 ['GOLDIE LOOKING MIRROR' 'damages' nan]
urun kodu = 20825 ['GOLD WINE GLASS' 'damages' nan]
urun kodu = 20830 ['SILVER PHOTO FRAME' 'damages']
urun kodu = 20852 ['given away' 'Given away']
urun kodu = 20914 ['SET/5 RED SPOTTY LID GLASS BOWLS' 'SET/5 RED RETROSPOT LID GLASS BOWLS'
 'damages']
urun kodu = 20956 ['PORCELAIN T-LIGHT HOLDERS ASSORTED' '?' nan]
urun kodu = 20975 ['12 PENCILS SMALL TUBE RED SPOTTY' '12 PENCILS SMALL TUBE RED RETROSPOT']
urun kodu = 20979 ['36 PENCILS TUBE RED SPOTTY' '36 PENCILS TUBE RED RETROSPOT']
urun kodu = 20983 ['12 PENCILS TALL TUBE RED SPOTTY' '12 PENCILS TALL TUBE RED RETROSPOT']
urun kodu = 21004 ['ROSE DU SUD CHILDS APRON' nan 'ROSE DU SUD CHILDRENS APRON']
urun kodu = 21007 ['ETCHED GLASS DROPLET DECORATION' 'damages?' nan]
urun kodu = 21018 ['BIRD BOX CHRISTMAS TREE DECORATION' 'checked']
urun kodu = 21035 ['SET/2 RED SPOTTY TEA TOWELS ' 'SET/2 RED RETROSPOT TEA TOWELS ']
urun kodu = 21039 ['RED SPOTTY SHOPPING BAG' 'RED RETROSPOT SHOPPING BAG']
urun kodu = 21041 ['RED SPOTTY OVEN GLOVE DOUBLE' 'missing' nan
 'RED RETROSPOT OVEN GLOVE DOUBLE']
urun kodu = 21042 ['RED SPOTTY APRON ' 'RED RETROSPOT APRON ']
urun kodu = 21051 ['RIBBONS PURSE ' '?']
urun kodu = 21080 ['SET/20 RED SPOTTY PAPER NAPKINS ' 'SET/20 RED RETROSPOT PAPER NAPKINS ']
urun kodu = 21092 ['SET/6 STRAWBERRY PAPER PLATES' 'phil said so']
urun kodu = 21100 ['CHARLIE AND LOLA CHARLOTTE BAG' 'bad quality' 'counted']
urun kodu = 21121 ['SET/10 RED SPOTTY PARTY CANDLES' nan 'SET/10 RED POLKADOT PARTY CANDLES']
urun kodu = 21122 ['SET/10 PINK SPOTTY PARTY CANDLES' 'SET/10 PINK POLKADOT PARTY CANDLES']
urun kodu = 21123 ['SET/10 IVORY SPOTTY PARTY CANDLES' 'SET/10 IVORY POLKADOT PARTY CANDLES']
urun kodu = 21124 ['SET/10 BLUE SPOTTY PARTY CANDLES' 'SET/10 BLUE POLKADOT PARTY CANDLES']
urun kodu = 21130 ['COLOURFUL STANDING GNOME' 'damaged']
urun kodu = 21133 ['PAINTED BIRD ASSORTED CHRISTMAS' 'invcd as 84879?' nan 'checked']
urun kodu = 21153 ['RED SPOTTY TABLECLOTH ' 'missing' nan]
urun kodu = 21154 ['RED SPOTTY OVEN GLOVE ' '?' 'RED RETROSPOT OVEN GLOVE ']
urun kodu = 21155 ['RED SPOTTY PEG BAG' '?' 'RED RETROSPOT PEG BAG']
urun kodu = 21156 ['RED SPOTTY CHILDS APRON' 'RETROSPOT CHILDRENS APRON']
urun kodu = 21157 ['RED SPOTTY WASHBAG' nan 'RED RETROSPOT WASHBAG']
urun kodu = 21181 ['PLEASE ONE PERSON  METAL SIGN' 'PLEASE ONE PERSON METAL SIGN' 'missing'
 nan]
urun kodu = 21185 [' HOME SWEET HOME  BLACKBOARD' 'HOME SWEET HOME  BLACKBOARD' nan]
urun kodu = 21210 ['SET OF 72 RETRO SPOT PAPER  DOILIES'
 'SET OF 72 RETROSPOT PAPER  DOILIES']
urun kodu = 21212 ['PACK OF 72 RETRO SPOT CAKE CASES' 'PACK OF 72 RETROSPOT CAKE CASES']
urun kodu = 21214 ['SET OF 72 IVORY PAPER DOILIES' 'Came as green?' nan]
urun kodu = 21215 [' IVORY PAPER CUP CAKE CASES ' 'IVORY PAPER CUP CAKE CASES ']
urun kodu = 21216 ['SET 3 RED SPOT TIN TEA,COFFEE,SUGAR' nan
 'SET 3 RETROSPOT TEA,COFFEE,SUGAR']
urun kodu = 21217 ['RED SPOTTY ROUND CAKE TINS' nan 'RED RETROSPOT ROUND CAKE TINS']
urun kodu = 21238 ['RED SPOTTY CUP' 'RED RETROSPOT CUP']
urun kodu = 21239 ['PINK  SPOTTY CUP' 'PINK  POLKADOT CUP']
urun kodu = 21240 ['BLUE  SPOTTY CUP' 'BLUE POLKADOT CUP']
urun kodu = 21241 ['GREEN SPOTTY CUP' 'GREEN POLKADOT CUP' nan]
urun kodu = 21242 ['RED SPOTTY PLATE ' 'RED RETROSPOT PLATE ']
urun kodu = 21243 ['PINK  SPOTTY PLATE ' 'PINK  POLKADOT PLATE ']
urun kodu = 21244 ['BLUE  SPOTTY PLATE ' nan 'BLUE POLKADOT PLATE ']
urun kodu = 21245 ['GREEN  SPOTTY PLATE ' 'GREEN POLKADOT PLATE ']
urun kodu = 21246 ['RED SPOTTY BIG BOWL' 'RED RETROSPOT BIG BOWL']
urun kodu = 21249 ['WOODLAND  HEIGHT CHART STICKERS ' 'WOOD ANIMALS HEIGHT CHART STICKERS ']
urun kodu = 21275 ['ZINC TOP  2 DOOR WOODEN SHELF ' '?']
urun kodu = 21284 ['RETRO SPOT CANDLE  SMALL' 'RETROSPOT CANDLE  SMALL']
urun kodu = 21285 ['RETRO SPOT CANDLE  MEDIUM' 'RETROSPOT CANDLE  MEDIUM']
urun kodu = 21286 ['RETRO SPOT CANDLE  LARGE' 'RETROSPOT CANDLE  LARGE']
urun kodu = 21291 ['SMALL SPOTTY CHOCOLATE GIFT BAG ' 'SMALL POLKADOT CHOCOLATE GIFT BAG ']
urun kodu = 21312 ['LARGE CHUNKY GLASS ROMAN BOWL' 'damaged' nan]
urun kodu = 21314 ['SMALL GLASS HEART TRINKET POT' '?']
urun kodu = 21323 ['HANGING MEDINA LANTERN LARGE' 'damges' nan]
urun kodu = 21330 ['WOODLAND ANIMAL  WRITING SET ' '?' nan]
urun kodu = 21379 [' CAMPHOR WOOD PORTOBELLO MUSHROOM' 'CAMPHOR WOOD PORTOBELLO MUSHROOM']
urun kodu = 21391 ['FRENCH EMROIDR LAVENDER SCENT HEART' 'FRENCH LAVENDER SCENT HEART']
urun kodu = 21392 ['RED SPOTTY PUDDING BOWL' 'RED POLKADOT PUDDING BOWL']
urun kodu = 21393 ['BLUE  SPOTTY PUDDING BOWL' nan 'BLUE POLKADOT PUDDING BOWL']
urun kodu = 21394 ['RED SPOTTY BEAKER ' 'RED POLKADOT BEAKER ']
urun kodu = 21395 ['BLUE SPOTTY BEAKER ' 'BLUE POLKADOT BEAKER ']
urun kodu = 21397 ['BLUE  SPOTTY EGG CUP ' 'BLUE POLKADOT EGG CUP ']
urun kodu = 21398 ['RED  SPOTTY COFFEE  MUG' 'RED POLKADOT COFFEE  MUG']
urun kodu = 21399 ['BLUE  SPOTTY  COFFEE MUG' 'BLUE POLKADOT COFFEE MUG']
urun kodu = 21431 ['GREEN GINGHAM FLOWER JEWELLERY BOX' 'crushed']
urun kodu = 21450 ['DISTRESSED CANDLE STICK WHITE' 'damaged' nan]
urun kodu = 21463 ['MIRRORED DISCO BALL ' 'damaged' 'smashed']
urun kodu = 21485 ['RED SPOT HEART HOT WATER BOTTLE' 'RETROSPOT HEART HOT WATER BOTTLE']
urun kodu = 21493 [' VINTAGE DESIGN GIFT TAGS' 'lost?' nan 'VINTAGE DESIGN GIFT TAGS']
urun kodu = 21495 ['SKULLS WRAP' 'SKULLS AND CROSSBONES WRAP']
urun kodu = 21498 ['RED SPOTS  WRAP ' nan 'RED RETROSPOT WRAP ']
urun kodu = 21499 ['BLUE SPOTS  WRAP' nan 'BLUE POLKADOT WRAP']
urun kodu = 21500 ['PINK SPOTS  WRAP ' 'PINK POLKADOT WRAP ']
urun kodu = 21523 ['FANCY FONT HOME SWEET HOME DOORMAT'
 'DOOR MAT FANCY FONT HOME SWEET HOME'
 'DOORMAT FANCY FONT HOME SWEET HOME' 'amendment']
urun kodu = 21524 ['SPOTTY  HOME SWEET HOME DOORMAT' 'DOOR MAT SPOTTY HOME SWEET HOME'
 'DOORMAT SPOTTY HOME SWEET HOME']
urun kodu = 21527 ['RETRO SPOT TRADITIONAL TEAPOT ' nan 'RED RETROSPOT TRADITIONAL TEAPOT ']
urun kodu = 21529 ['RETRO SPOT CERAMIC TOASTRACK' 'RED RETROSPOT TOASTRACK' 'damages' nan]
urun kodu = 21530 ['DAIRY MAID CERAMIC TOASTRACK' 'DAIRY MAID TOASTRACK']
urun kodu = 21531 ['RETRO SPOT SUGAR JAM BOWL' 'RED RETROSPOT SUGAR JAM BOWL']
urun kodu = 21532 ['DAIRY MAID SUGAR JAM BOWL' 'damaged' nan]
urun kodu = 21533 ['RETRO SPOT LARGE MILK JUG' 'RETROSPOT LARGE MILK JUG']
urun kodu = 21535 ['RETRO SPOT SMALL MILK JUG' 'RED RETROSPOT SMALL MILK JUG' nan]
urun kodu = 21537 ['RETRO SPOTS PUDDING BOWL' 'RED RETROSPOT PUDDING BOWL']
urun kodu = 21539 ['RETRO SPOTS BUTTER DISH' 'RED RETROSPOT BUTTER DISH']
urun kodu = 21540 ['DAIRY MAID CERAMIC BUTTER DISH' 'DAIRY MAID BUTTER DISH' 'damages']
urun kodu = 21542 ['WOODLAND WATER TRANSFER TATTOOS ' 'missing' nan]
urun kodu = 21545 ['CERAMIC BIRDHOUSE BUTTERFLY SMALL' 'damages' nan]
urun kodu = 21558 ['SKULL LUNCHBOX WITH CUTLERY ' nan 'SKULL LUNCH BOX WITH CUTLERY ']
urun kodu = 21559 ['STRAWBERRY LUNCHBOX WITH CUTLERY' 'STRAWBERRY LUNCH BOX WITH CUTLERY']
urun kodu = 21561 ['DINOSAUR LUNCHBOX WITH CUTLERY' 'DINOSAUR LUNCH BOX WITH CUTLERY']
urun kodu = 21584 ['RETRO SPOT SMALL TUBE MATCHES' 'RETROSPOT SMALL TUBE MATCHES']
urun kodu = 21588 ['RETRO SPOT GIANT  TUBE MATCHES' 'RETROSPOT GIANT TUBE MATCHES']
urun kodu = 21592 ['RETRO SPOT  CIGAR BOX MATCHES ' 'RETROSPOT CIGAR BOX MATCHES ']
urun kodu = 21620 ['S/4 ROSE    BOTANICAL  CANDLE' 'SET OF 4 ROSE BOTANICAL CANDLES']
urun kodu = 21625 ['VINTAGE UNION JACK APRON' '?']
urun kodu = 21629 ['SQUARE FLOOR CUSHION VINTAGE PINK ' 'SQUARE FLOOR CUSHION VINTAGE RED']
urun kodu = 21652 ['GLASS ETCHED T-LIGHT HOLDER MEDIUM' 'damages' nan]
urun kodu = 21653 ['GLASS ETCHED T-LIGHT HOLDER LARGE' '?' nan]
urun kodu = 21666 [' RIDGED GLASS T-LIGHT HOLDER' 'RIDGED GLASS T-LIGHT HOLDER']
urun kodu = 21671 ['RED SPOT CERAMIC DRAWER KNOB' '?']
urun kodu = 21701 ['SET 6 MINI SUSHI SET FRIDGE MAGNETS' 'No Stock']
urun kodu = 21702 ['SET 5 MINI GATEAUX  FRIDGE MAGNETS' 'No Stock']
urun kodu = 21706 ['FOLDING UMBRELLA , RED/WHITE SPOT' 'FOLDING UMBRELLA RED/WHITE POLKADOT']
urun kodu = 21707 ['FOLDING UMBRELLA , BLACK/BLUE  SPOT'
 'FOLDING UMBRELLA BLACKBLUE POLKADOT']
urun kodu = 21708 ['FOLDING UMBRELLA  CREAM/MULTI  SPOT' 'FOLDING UMBRELLA CREAM POLKADOT']
urun kodu = 21709 ['FOLDING UMBRELLA  CHOC/WHITE  SPOT'
 'FOLDING UMBRELLA CHOCOLATE POLKADOT']
urun kodu = 21710 ['FOLDING UMBRELLA  PINK/WHITE  SPOT'
 'FOLDING UMBRELLA PINKWHITE POLKADOT']
urun kodu = 21711 ['FOLDING UMBRELLA  WHITE/RED  SPOT' 'FOLDING UMBRELLA WHITE/RED POLKADOT']
urun kodu = 21733 ['RED HANGING HEART T-LIGHT HOLDER' '85123a mixed']
urun kodu = 21735 ['TWO DOOR CURIO CABINET' 'Damages' 'broken glass']
urun kodu = 21746 ['SMALL RED SPOT  WINDMILL' 'SMALL RED RETROSPOT WINDMILL']
urun kodu = 21749 ['LARGE RED SPOT WINDMILL' 'LARGE RED RETROSPOT WINDMILL' 'MIA' nan]
urun kodu = 21750 [' LARGE SKULL WINDMILL' 'LARGE SKULL WINDMILL']
urun kodu = 21752 ['GLASS CAKE STAND MIRRORED BASE' 'lost in space' nan]
urun kodu = 21760 [nan 'FRENCH STYLE WALL DRESSER' 'damaged' 'used for show display']
urun kodu = 21764 ['VINTAGE WOODEN PLATE RACK' 'display stands']
urun kodu = 21770 ['OPEN CLOSED METAL SIGN' nan 'debenhams']
urun kodu = 21786 ['RAIN HAT WITH RED SPOTS' 'POLKADOT RAIN HAT ']
urun kodu = 21787 [nan 'RAIN PONCHO WITH RED SPOTS' 'RAIN PONCHO RETROSPOT']
urun kodu = 21815 [' STAR  T-LIGHT HOLDER ' 'STAR  T-LIGHT HOLDER ' nan]
urun kodu = 21843 ['RETRO SPOT CAKE STAND' 'RED RETROSPOT CAKE STAND' 'damaged' 'broken']
urun kodu = 21844 ['RETRO SPOT MUG' 'RED RETROSPOT MUG']
urun kodu = 21858 ['HIGH SCHOOL MUSICAL 3 TOP TRUMPS ' nan 'dirty']
urun kodu = 21877 ['HOME SWEET HOME MUG' 'damages']
urun kodu = 21880 ['RED AND WHITE SPOT TAPE' 'RED RETROSPOT TAPE']
urun kodu = 21900 ['KEY FOB , SHED' '?' nan 'reverse mistake']
urun kodu = 21915 ['RED  HARMONICA IN BOX ' nan 'Mixed with blue']
urun kodu = 21929 ['JUMBO BAG PINK VINTAGE PAISLEY' '?' nan]
urun kodu = 21936 ['RED/WHITE SPOT PICNIC BAG' 'RED RETROSPOT PICNIC BAG']
urun kodu = 21955 ['UNION JACK GUNS & ROSES  DOORMAT' '  DOORMAT UNION JACK GUNS AND ROSES'
 'DOOR MAT UNION JACK GUNS AND ROSES' nan
 'DOORMAT UNION JACK GUNS AND ROSES']
urun kodu = 21967 ['PACK OF 12 SKULL TISSUES' 'MIA' nan]
urun kodu = 21980 ['PACK OF 12 RED SPOTTY TISSUES ' 'PACK OF 12 RED RETROSPOT TISSUES ']
urun kodu = 21986 ['PACK OF 12 PINK SPOT TISSUES ' 'PACK OF 12 PINK POLKADOT TISSUES']
urun kodu = 22029 ['SPACE BOY BIRTHDAY CARD' 'SPACEBOY BIRTHDAY CARD']
urun kodu = 22033 ['BOTANICAL ROSE GREETING CARD' 'counted']
urun kodu = 22037 ['ROBOT BIRTHDAY CARD' nan 'found again']
urun kodu = 22045 ['SPACE BOY GIFT WRAP' 'SPACEBOY GIFT WRAP']
urun kodu = 22057 ['CERAMIC PLATE STRAWBERRY DESIGN' 'smashed']
urun kodu = 22058 ['CERAMIC LOVE HEARTS DESIGN MUG' 'damaged?' nan]
urun kodu = 22059 ['CERAMIC STRWBERRY DESIGN MUG' 'CERAMIC STRAWBERRY DESIGN MUG']
urun kodu = 22068 [' BLACK PIRATE TREASURE CHEST' 'BLACK PIRATE TREASURE CHEST']
urun kodu = 22069 [' BROWN  PIRATE TREASURE CHEST ' 'BROWN  PIRATE TREASURE CHEST ']
urun kodu = 22070 ['SMALL RETRO SPOT MUG IN BOX  RED' 'SMALL RED RETROSPOT MUG IN BOX ']
urun kodu = 22071 ['SMALL RETRO SPOT MUG IN BOX  WHITE' 'SMALL WHITE RETROSPOT MUG IN BOX ']
urun kodu = 22072 ['TEA CUP AND SAUCER RETRO SPOT' 'RED RETROSPOT TEA CUP AND SAUCER ']
urun kodu = 22073 ['RETRO SPOT STORAGE JAR' 'RED RETROSPOT STORAGE JAR']
urun kodu = 22077 ['6 RIBBONS RUSTIC CHARM' nan 'found']
urun kodu = 22080 ['RIBBON REEL SPOTS DESIGN ' 'RIBBON REEL POLKADOTS ' '?' nan]
urun kodu = 22083 ['PAPER CHAIN KIT RETRO SPOT' 'PAPER CHAIN KIT RETROSPOT']
urun kodu = 22090 ['PAPER BUNTING RETRO SPOTS' 'PAPER BUNTING RETROSPOT']
urun kodu = 22094 ['RED POLKA DOT TISSUE BOX' 'RED RETROSPOT TISSUE BOX']
urun kodu = 22119 [' PEACE WOODEN BLOCK LETTERS' 'PEACE WOODEN BLOCK LETTERS']
urun kodu = 22130 ['PARTY CONE CHRISTMAS DECORATION ' 'sold in wrong qnty']
urun kodu = 22138 ['BAKING SET 9 PIECE RETROSPOT ' 'mouldy' 'damages' nan]
urun kodu = 22139 ['RETRO SPOT TEA SET CERAMIC 11 PC ' '11 PC CERAMIC TEA SET POLKADOT' nan
 'RETROSPOT TEA SET CERAMIC 11 PC ' 'amazon']
urun kodu = 22150 [' 3 STRIPEY MICE FELTCRAFT' '3 STRIPEY MICE FELTCRAFT']
urun kodu = 22165 ['DIAMANTE HEART SHAPED WALL MIRROR, ' 'damaged']
urun kodu = 22166 ['WALL MIRROR , RECT DIAMANTE, PINK/'
 'WALL MIRROR RECTANGLE DIAMANTE PINK']
urun kodu = 22167 ['WALL MIRROR , DIAMANTE OVAL SHAPE' 'damaged'
 ' OVAL WALL MIRROR DIAMANTE ']
urun kodu = 22168 ['ORGANISER WOOD, ANTIQUE WHITE ' 'ORGANISER WOOD ANTIQUE WHITE '
 'Damages']
urun kodu = 22171 ['3 HOOK PHOTO SHELF ANTIQUE WHITE' 'damaged' nan]
urun kodu = 22175 ['PINK OWL SOFT TOY' 'PINK OWL DECORATION']
urun kodu = 22176 ['BLUE OWL SOFT TOY' 'BLUE OWL DECORATION']
urun kodu = 22180 ['RETRO SPOT LAMP' nan 'RETROSPOT LAMP']
urun kodu = 22191 ['EAU DE NIL DINER WALL CLOCK' 'IVORY WALL CLOCK' nan
 'IVORY DINER WALL CLOCK']
urun kodu = 22193 ['RED DINER WALL CLOCK' 'RED WALL CLOCK' nan]
urun kodu = 22195 ['HEART MEASURING SPOONS LARGE' 'LARGE HEART MEASURING SPOONS']
urun kodu = 22196 ['SMALL HEART MEASURING SPOONS' 'HEART MEASURING SPOONS SMALL']
urun kodu = 22197 ['POPCORN HOLDER , SMALL ' nan 'SMALL POPCORN HOLDER']
urun kodu = 22198 ['POPCORN HOLDER , LARGE' 'LARGE POPCORN HOLDER ']
urun kodu = 22199 ['FRYING PAN RED POLKADOT ' 'FRYING PAN RED RETROSPOT']
urun kodu = 22200 ['FRYING PAN PINK POLKADOT ' 'FRYING PAN PINK RETROSPOT'
 'FRYING PAN PINK POLKADOT']
urun kodu = 22201 ['FRYING PAN BLUE POLKADOT ' 'FRYING PAN BLUE RETROSPOT'
 'FRYING PAN BLUE POLKADOT']
urun kodu = 22202 ['MILK PAN PINK RETROSPOT' 'MILK PAN PINK POLKADOT']
urun kodu = 22204 ['MILK PAN BLUE RETROSPOT' 'MILK PAN BLUE POLKADOT']
urun kodu = 22227 ['DECORATION, HANGING HEART+MIRROR ' 'HANGING HEART MIRROR DECORATION ']
urun kodu = 22232 ['3 PIECE JIGSAW TOADSTOOLS' 'JIGSAW TOADSTOOLS 3 PIECE']
urun kodu = 22236 ['CAKE STAND 3 TIER MAGIC GARDEN' 'Rusty ' nan 'Rust fixed'
 'Rusty connections']
urun kodu = 22241 ['GARLAND , WOODEN  " HAPPY EASTER"' 'GARLAND WOODEN HAPPY EASTER']
urun kodu = 22242 ['HOOK, 5 HANGER , MAGIC TOADSTOOL' '5 HOOK HANGER MAGIC TOADSTOOL']
urun kodu = 22243 ['HOOK, 5 HANGER ,MAGIC TOADSTOOL RED' nan
 '5 HOOK HANGER RED MAGIC TOADSTOOL']
urun kodu = 22244 ['HOOK, 3 HANGER ,MAGIC GARDEN' nan '3 HOOK HANGER MAGIC GARDEN']
urun kodu = 22246 ['GARLAND, MAGIC GARDEN 1.8M' 'MAGIC GARDEN FELT GARLAND ']
urun kodu = 22252 ['BIRDCAGE DECORATION MAGIC GARDEN' 'BIRDCAGE DECORATION TEALIGHT HOLDER']
urun kodu = 22288 ['DECORATION , HANGING METAL RABBIT' 'HANGING METAL RABBIT DECORATION']
urun kodu = 22291 ['SPRING DEC , HANGING CHICK CREAM' 'HANGING CHICK CREAM DECORATION']
urun kodu = 22292 ['SPRING DEC , HANGING CHICK  YELLOW' 'HANGING CHICK  YELLOW DECORATION']
urun kodu = 22293 ['SPRING DEC , HANGING CHICK  GREEN' 'HANGING CHICK GREEN DECORATION']
urun kodu = 22310 ['KNITTED MUG COSY IVORY COLOUR ' 'IVORY KNITTED MUG COSY ']
urun kodu = 22321 ['BIRD DECORATION RED SPOT' 'BIRD DECORATION RED RETROSPOT']
urun kodu = 22322 ['BIRD DECORATION GREEN  SPOT' 'BIRD DECORATION GREEN POLKADOT']
urun kodu = 22323 ['PINK POLKADOT KIDS BAG' 'BAG FOR CHILDREN VINTAGE PINK ' nan]
urun kodu = 22324 ['BLUE POLKADOT KIDS BAG' 'BAG FOR CHILDREN VINTAGE BLUE ']
urun kodu = 22326 ['ROUND SNACK BOXES ,SET4, WOODLAND '
 'ROUND SNACK BOXES SET OF4 WOODLAND ' nan]
urun kodu = 22328 ['ROUND SNACK BOXES ,SET 4, FRUITS ' 'ROUND SNACK BOXES SET OF 4 FRUITS '
 nan]
urun kodu = 22329 ['ROUND CONTAINER SET OF 5 RETROSPOT' 'ROUND FOOD CONTAINER S/5 RETROSPOT']
urun kodu = 22333 ['RETRO SPORT PARTY BAG + STICKER SET'
 'RETRO SPOT PARTY BAG + STICKER SET' 'RETROSPOT PARTY BAG + STICKER SET']
urun kodu = 22343 ['PARTY PIZZA DISH RED WHITE SPOT ' 'PARTY PIZZA DISH RED+WHITE SPOT '
 'PARTY PIZZA DISH RED RETROSPOT']
urun kodu = 22344 ['PARTY PIZZA DISH PINK+WHITE SPOT ' 'PARTY PIZZA DISH PINK WHITE SPOT '
 'PARTY PIZZA DISH PINK RETROSPOT' 'PARTY PIZZA DISH PINK POLKADOT']
urun kodu = 22345 ['PARTY PIZZA DISH BLUE+WHITE SPOT ' 'PARTY PIZZA DISH BLUE WHITE SPOT '
 'PARTY PIZZA DISH BLUE RETROSPOT' 'PARTY PIZZA DISH BLUE POLKADOT']
urun kodu = 22346 ['PARTY PIZZA DISH GREEN+WHITE SPOT ' 'PARTY PIZZA DISH GREEN WHITE SPOT '
 'PARTY PIZZA DISH GREEN RETROSPOT' 'PARTY PIZZA DISH GREEN POLKADOT']
urun kodu = 22347 ['PIZZA SLICE DISH' 'PIZZA DISH SLICE ' nan]
urun kodu = 22348 ['TEA BAG PLATE RED SPOTTY ' nan 'TEA BAG PLATE RED RETROSPOT']
urun kodu = 22349 ['DOG BOWL , CHASING BALL DESIGN' 'DOG BOWL CHASING BALL DESIGN']
urun kodu = 22350 ['CAT BOWL ' 'ILLUSTRATED CAT BOWL ']
urun kodu = 22352 ['LUNCHBOX WITH CUTLERY RETROSPOT ' 'LUNCH BOX WITH CUTLERY RETROSPOT ']
urun kodu = 22353 ['LUNCHBOX WITH CUTLERY FAIRY CAKES '
 'LUNCH BOX WITH CUTLERY FAIRY CAKES ']
urun kodu = 22354 ['RETRO SPOT PADDED SEAT CUSHION' 'RETROSPOT PADDED SEAT CUSHION']
urun kodu = 22355 ['CHARLOTTE BAG , SUKI DESIGN' 'CHARLOTTE BAG SUKI DESIGN']
urun kodu = 22356 ['CHARLOTTE BAG , PINK/WHITE SPOTS' 'CHARLOTTE BAG PINK WITH WHITE SPOTS'
 'CHARLOTTE BAG PINK POLKADOT']
urun kodu = 22359 ['temp' 'GLASS JAR KINGS CHOICE' 'GLASS JAR, KINGS CHOICE SOAP']
urun kodu = 22360 ['GLASS JAR, ENGLISH CONFECTIONERY' 'temp'
 'GLASS JAR ENGLISH CONFECTIONERY']
urun kodu = 22361 ['temp' 'GLASS JAR DAISY FRESH COTTON WOOL']
urun kodu = 22363 ['temp' 'GLASS JAR MARMALADE ']
urun kodu = 22365 ['DOORMAT RESPECTABLE HOUSE' 'DOOR MAT RESPECTABLE HOUSE']
urun kodu = 22366 ['DOORMAT AIRMAIL ' 'DOOR MAT AIRMAIL ']
urun kodu = 22367 ['CHILDS APRON SPACEBOY DESIGN' 'CHILDRENS APRON SPACEBOY DESIGN']
urun kodu = 22381 ['TOY TIDY PINK RETROSPOT  ' 'TOY TIDY PINK POLKADOT']

In [19]:
df.loc[df['StockCode'] == 20677, 'Description'].unique()

array(['PINK SPOTTY BOWL', 'PINK POLKADOT BOWL'], dtype=object)

****1.4. Préparation des données****

In [21]:
df.dropna(inplace=True)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 417534 entries, 0 to 525460
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      417534 non-null  object
 1   StockCode    417534 non-null  object
 2   Description  417534 non-null  object
 3   Quantity     417534 non-null  int64
 4   InvoiceDate  417534 non-null  datetime64[ns]
 5   Price        417534 non-null  float64
 6   Customer ID  417534 non-null  float64
 7   Country      417534 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 28.7+ MB

In [23]:
df.describe([0.01, 0.05, 0.10, 0.25, 0.50, 0.75, 0.90, 0.95, 0.99]).T

,count,mean,min,1%,5%,10%,25%,50%,75%,90%,95%,99%,max,std
Quantity,417534.00000,12.75881,-9360.00000,-2.00000,1.00000,1.00000,2.00000,4.00000,12.00000,24.00000,36.00000,144.00000,19152.00000,101.22042
InvoiceDate,417534,2010-07-01 01:12:19.787609856,2009-12-01 07:45:00,2009-12-02 15:04:00,2009-12-13 12:42:00,2010-01-18 14:49:00,2010-03-26 11:26:00,2010-07-08 19:12:00,2010-10-14 14:08:00,2010-11-17 17:16:00,2010-11-28 13:43:00,2010-12-07 14:41:00,2010-12-09 20:01:00,NaN
Price,417534.00000,3.88755,0.00000,0.29000,0.42000,0.65000,1.25000,1.95000,3.75000,6.75000,8.50000,14.95000,25111.09000,71.13180
Customer ID,417534.00000,15360.64548,12346.00000,12435.00000,12725.00000,13042.00000,13983.00000,15311.00000,16799.00000,17706.00000,17913.00000,18196.00000,18287.00000,1680.81132

In [24]:
df = df[~df["Invoice"].str.contains("C", na=False)]

In [25]:
df.describe([0.01, 0.05, 0.10, 0.25, 0.50, 0.75, 0.90, 0.95, 0.99]).T

,count,mean,min,1%,5%,10%,25%,50%,75%,90%,95%,99%,max,std
Quantity,407695.00000,13.58669,1.00000,1.00000,1.00000,1.00000,2.00000,5.00000,12.00000,24.00000,36.00000,144.00000,19152.00000,96.84223
InvoiceDate,407695,2010-07-01 10:10:10.782177792,2009-12-01 07:45:00,2009-12-02 15:10:00,2009-12-13 13:27:00,2010-01-19 11:01:00,2010-03-26 14:01:00,2010-07-09 15:46:00,2010-10-14 17:09:00,2010-11-18 10:37:00,2010-11-28 13:53:00,2010-12-07 14:31:00,2010-12-09 20:01:00,NaN
Price,407695.00000,3.29419,0.00000,0.29000,0.42000,0.65000,1.25000,1.95000,3.75000,6.75000,8.50000,14.95000,10953.50000,34.75666
Customer ID,407695.00000,15368.50411,12346.00000,12435.00000,12731.00000,13044.00000,13997.00000,15321.00000,16812.00000,17706.00000,17913.00000,18196.00000,18287.00000,1679.79570

In [26]:
df['TotalPrice'] = df['Quantity'] * df['Price']
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,TotalPrice
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95000,13085.00000,United Kingdom,83.40000
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75000,13085.00000,United Kingdom,81.00000
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75000,13085.00000,United Kingdom,81.00000
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10000,13085.00000,United Kingdom,100.80000
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25000,13085.00000,United Kingdom,30.00000

****1.5. RFM Metrics****

In [28]:
df['InvoiceDate'].max()

Timestamp('2010-12-09 20:01:00')

In [29]:
today_date = df['InvoiceDate'].max() + dt.timedelta(days=2)
today_date

Timestamp('2010-12-11 20:01:00')

In [30]:
rfm = df.groupby('Customer ID').agg({'InvoiceDate': lambda date: (today_date - date.max()).days,
                                    'Invoice': lambda inv: inv.nunique(),
                                    'TotalPrice': lambda price: price.sum()})
rfm.head()

             InvoiceDate  Invoice  TotalPrice
Customer ID
12346.00000          166       11   372.86000
12347.00000            4        2  1323.32000
12348.00000           75        1   222.16000
12349.00000           44        3  2671.14000
12351.00000           12        1   300.93000

In [31]:
rfm.columns = ['Recency', 'Frequency', 'Monetary']
rfm.head()

             Recency  Frequency   Monetary
Customer ID
12346.00000      166         11  372.86000
12347.00000        4          2 1323.32000
12348.00000       75          1  222.16000
12349.00000       44          3 2671.14000
12351.00000       12          1  300.93000

In [32]:
rfm.describe([0.01, 0.05, 0.10, 0.25, 0.50, 0.75, 0.90, 0.95, 0.99]).T

,count,mean,std,min,1%,5%,10%,25%,50%,75%,90%,95%,99%,max
Recency,4314.00000,92.26912,96.94348,2.00000,2.00000,4.00000,9.00000,19.00000,54.00000,137.00000,256.00000,305.00000,369.00000,375.00000
Frequency,4314.00000,4.45410,8.16866,1.00000,1.00000,1.00000,1.00000,1.00000,2.00000,5.00000,9.00000,13.00000,31.00000,205.00000
Monetary,4314.00000,2047.28866,8912.52324,0.00000,39.95650,110.43650,155.48500,307.95000,705.55000,1722.80250,3796.59500,6235.12050,20136.78250,349164.35000

****1.6. RFM Scores****

In [34]:
rfm["RecencyScore"] = pd.qcut(rfm['Recency'], 5, labels=[5, 4, 3, 2, 1])
rfm["FrequencyScore"] = pd.qcut(rfm['Frequency'].rank(method="first"), 5, labels=[1, 2, 3, 4, 5])
rfm["MonetaryScore"] = pd.qcut(rfm['Monetary'], 5, labels=[1, 2, 3, 4, 5])

In [35]:
rfm["RFM_SCORE"] = (rfm['RecencyScore'].astype(str) +
                    rfm['FrequencyScore'].astype(str) +
                    rfm['MonetaryScore'].astype(str))
rfm.head()

,Recency,Frequency,Monetary,RecencyScore,FrequencyScore,MonetaryScore,RFM_SCORE
Customer ID,,,,,,,
12346.00000,166,11,372.86000,2,5,2,252
12347.00000,4,2,1323.32000,5,2,4,524
12348.00000,75,1,222.16000,2,1,1,211
12349.00000,44,3,2671.14000,3,3,5,335
12351.00000,12,1,300.93000,5,1,2,512

In [36]:
rfm[rfm['RFM_SCORE'] == "555"].head()

,Recency,Frequency,Monetary,RecencyScore,FrequencyScore,MonetaryScore,RFM_SCORE
Customer ID,,,,,,,
12415.00000,12,7,19543.84000,5,5,5,555
12431.00000,10,13,4370.52000,5,5,5,555
12471.00000,11,49,20139.74000,5,5,5,555
12472.00000,6,13,11308.48000,5,5,5,555
12474.00000,15,13,5048.66000,5,5,5,555

****1.7. Naming the RFM Scores****

In [38]:
seg_map = {
    r'[1-2][1-2]': 'Hibernating',
    r'[1-2][3-4]': 'At_Risk',
    r'[1-2]5': 'Cant_Loose',
    r'3[1-2]': 'About_to_Sleep',
    r'33': 'Need_Attention',
    r'[3-4][4-5]': 'Loyal_Customers',
    r'41': 'Promising',
    r'51': 'New_Customers',
    r'[4-5][2-3]': 'Potential_Loyalists',
    r'5[4-5]': 'Champions'
}

In [39]:
rfm['Segment'] = rfm['RecencyScore'].astype(str) + rfm['FrequencyScore'].astype(str)
rfm.head()

,Recency,Frequency,Monetary,RecencyScore,FrequencyScore,MonetaryScore,RFM_SCORE,Segment
Customer ID,,,,,,,,
12346.00000,166,11,372.86000,2,5,2,252,25
12347.00000,4,2,1323.32000,5,2,4,524,52
12348.00000,75,1,222.16000,2,1,1,211,21
12349.00000,44,3,2671.14000,3,3,5,335,33
12351.00000,12,1,300.93000,5,1,2,512,51

In [40]:
rfm['Segment'] = rfm['Segment'].replace(seg_map, regex=True)
rfm.head()

,Recency,Frequency,Monetary,RecencyScore,FrequencyScore,MonetaryScore,RFM_SCORE,Segment
Customer ID,,,,,,,,
12346.00000,166,11,372.86000,2,5,2,252,Cant_Loose
12347.00000,4,2,1323.32000,5,2,4,524,Potential_Loyalists
12348.00000,75,1,222.16000,2,1,1,211,Hibernating
12349.00000,44,3,2671.14000,3,3,5,335,Need_Attention
12351.00000,12,1,300.93000,5,1,2,512,New_Customers

In [41]:
rfm['Segment'].value_counts()

Segment
Hibernating            1017
Loyal_Customers         742
Champions               663
At_Risk                 611
Potential_Loyalists     517
About_to_Sleep          343
Need_Attention          207
Promising                87
Cant_Loose               77
New_Customers            50
Name: count, dtype: int64